* {
    padding: 0px;
    margin: 0px;
}

:root {
    --color-green: #A0A747;
}

.start__container{
    padding: 20px 50px;
    
}

.header{
    display: flex;
    justify-content: center;
}

.header__container {
    display: flex;
    justify-content: space-between;
    width: 1800px;
}

.header__contacts {
    font-size: 1.5em;
    text-decoration: underline;
    text-decoration-color: hsl(0, 0%, 0%, 10%);
    text-underline-offset: 4px;
    transition: all 0.5s ease;
    cursor: pointer;
}

.header__contacts:hover {
    text-decoration-color: hsl(0, 0%, 0%, 100%);
}

.start__info {
    margin: 100px;
}

.start__info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

}

.start__title {
    font-size: 5em;
    text-align: center;
}

.start__subtitle {
    font-size: 2em;
    text-decoration: underline;
    text-decoration-color: var(--color-green);
    text-underline-offset: 4px;
    cursor: pointer;
}

.start__images{
    display: flex;
    justify-content: center;
}

.start__main-image {
    position: relative;
    display: flex;
    justify-content: center;
}

.start__main-icon {
    position: absolute;
    right: 20px;
    top: -25px;
}

.start__queue-container {
    display: flex;
    position: absolute;
    bottom: 30px;
    left: 40%;
    gap: 15px;
}

.start__queue {
    background-color: hsl(0, 0%, 0%, 70%);
    font-size: 2em;
    color: white;
    padding: 5px 10px 10px 10px;
    border-radius: 6px;
}

.start__text-collor-green {
    color: var(--color-green);
}

.start__calages {
    display: flex;
    justify-content: center;
    margin: 60px 300px 150px 300px;
}