.test {
    display: flex;
    justify-content: center;
    margin-top: 180px;
}

.test__container {
    background-color: #A0A747;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
    gap: 30px;
    border-radius: 8px;
}

.test__title {
    margin-top: 60px;
    font-size: 5em;
}

.test__subtitle {
    font-size: 3em;
    color: #e8ebc5;
}

.test__btn {
    padding: 15px 30px;
    font-size: 2em;
    background-color: black;
    color: white;
    border-radius: 15px;
    border: none;
    cursor: pointer;
}

